// app global css in SCSS form

  body {
    background-image: url('../assets/Body-bg-1.png');
    background-size: 100%;
    color: #365B6D
  }

  a {
    text-decoration: none;
    color: #365B6D;
  }

.title {
    color: #1D4355;
  }